<div class="container">
  <div class="p-5 text-center">
    <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4" role="alert">
      <h5 class="m-1">
        <i class="fas fa-rocket"></i> {{ '::Welcome' | abpLocalization }}
      </h5>
    </div>
  </div>
  <div class="card">
    <button class="btn btn-primary m-3"  *ngIf="this.showTab === ''" style="max-width: 300px;" (click)="this.showTab='add'"><i class="fas fa-pen"></i>Adicionar</button>
    <div class="card-body" *ngIf="this.showTab === ''">
      <h5>Lista de Agendamento</h5>
      <table *ngIf="this.scheduleList?.items !== null" class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Schedule Date</th>
            <th scope="col">Created Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.scheduleList?.items">
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{(item.scheduleDate | date:'dd/MM/yyyy')}}</td>
            <td>{{item.creationTime | date :'short'}}</td>
            <td><i class="fas fa-pen" (click)="edit(item);"></i> | <i class="fas fa-trash" (click)="remove(item.id);"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body" *ngIf="this.showTab === 'edit'">
      <h5>Editar Agendamento</h5>
        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" placeholder="Descrição do agendamento." [(ngModel)]="this.itemToEditStore.description">
        </div>
        <div class="form-group">
          <label for="date">Schedule Date</label>
          <input type="date" class="form-control" id="date" [(ngModel)]="this.itemToEditStore.scheduleDate">
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-primary mr-1" (click)="editStore()"><i class="fas fa-pen"></i>Editar</button>
        <button class="btn btn-danger" (click)="this.showTab = ''"><i class="fas fa-backward"></i>Voltar</button>
        </div>
    </div>
    <div class="card-body" *ngIf="this.showTab === 'add'">
      <h5>Adicionar Agendamento</h5>
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" placeholder="Descrição do agendamento." [(ngModel)]="this.itemToEditStore.description">
      </div>
      <div class="form-group">
        <label for="date">Schedule Date</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="this.itemToEditStore.scheduleDate">
      </div>
      <div class="form-group mt-2">
        <button class="btn btn-primary mr-1" (click)="add()"><i class="fas fa-pen"></i>Adicionar</button>
        <button class="btn btn-danger" (click)="this.showTab = ''"><i class="fas fa-backward"></i>Voltar</button>
      </div>
  </div>
  </div>
</div>

<ng-template #starterLinkTemplate let-context>
  <div class="col-lg-4 border-start">
    <div class="p-4">
      <h5 class="mb-3">
        <i class="fas fa-cubes text-secondary d-block my-3 fa-2x"></i> {{ context.title }}
      </h5>
      <p [innerHTML]="context.description"></p>
      <ng-container
        *ngIf="context.customTemplate"
        [ngTemplateOutlet]="context.customTemplate"
      ></ng-container>
      <a
        *ngFor="let link of context.links"
        [href]="link.href"
        target="_blank"
        class="btn btn-link px-1"
      >{{ link.label }} <i class="fas fa-chevron-right"></i
      ></a>
    </div>
  </div>
</ng-template>

<ng-template #featuresTemplate let-context>
  <div class="col-lg-2 border-start">
    <div class="p-3">
      <h6>
        <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i>
        <span [innerHTML]="context.title"></span>
        <a [href]="context.href" target="_blank" class="d-block mt-2 btn btn-sm btn-link"
        >Details <i class="fas fa-chevron-right"></i
        ></a>
      </h6>
    </div>
  </div>
</ng-template>

<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
